@import url("https://fonts.googleapis.com/css2? family= IBM+Plex+Sans+Hebrew & family= Mooli & family= Poppins:wght@300 & family= Roboto:wght@300; 500 & famille= Tilt+Neon & famille= Young+Serif & display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew&family=Inter&family=Mooli&family=Poppins:wght@300&family=Roboto:wght@300;500&family=Tilt+Neon&family=Young+Serif&display=swap");

:root {
  --primary-font: "IBM Plex Sans Hebrew", sans-serif;
  --secondary-font: "Inter", sans-serif;
  --primary-color: #618264;
  --secondary-color: #000e01;
  --static-color: #79ac78;
  --other-color: #443434;
  --primary-raduis: 2rem;
  --second-raduis: 1rem;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  border: none;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  border: none;
}

.menu {
  width: 100vw;
  height: 10vh;
  display: flex;
}
.menu__logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding-left: 4.5rem;
  align-items: center;

}
.menu__link {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.menu__link a {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: var(--primary-font);
  color: var(--other-color);
}
.menu__link__active {
  color: var(--static-color);
  border-bottom: 2px solid var(--primary-color);
}
.menu__btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__btn a {
  text-decoration: none;
  font-size: 1.5rem;
  border: none;
  color: white;
  padding: 1rem 3rem;
  background-color: var(--primary-color);
}

.actu {
  width: 100vw;
  height: 86vh;
  margin-top: 2rem;
  display: flex;
}
.actu__img {
  flex: 2;
  display: flex;
  justify-content: center;
}
.actu__img__contain {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  background-image: url(actu.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--primary-raduis);
  padding: 2rem;
}
.actu__img__contain__text {
  width: 75%;
  border-left: 10px solid var(--primary-color);
  padding-left: 2rem;
}
.actu__img__contain__text h2 {
  font-size: 3.2rem;
  color: white;
}
.actu__img__contain__text p {
  font-size: 1.5rem;
  color: white;
}

.actu__news {
  flex: 1;
  padding-right: 5rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.actu__news h1 {
  border-left: 10px solid var(--primary-color);
  padding-left: 0.5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-family: var(--primary-font);
}
.actu__news__new {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 2rem;

}
.actu__news__new__img {
  flex: 1;
  display: flex;
  justify-content: center;
  border-radius: var(--second-raduis);
}
.actu__news__new__text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}
.actu__news__new__text h2 {
  font-size: 1.9rem;
  color: var(--other-color);
  font-family: var(--secondary-font);
}
.actu__news__new__text p {
  font-size: 1.2rem;
  font-family: var(--secondary-font);
}

.theme{
  width: 100vw;
  height: 60vh;
  margin-top: 8rem;
  padding-left: 4rem;
}
.theme_image{
  width: 95%;
  display: flex;
  justify-content: space-between;
  
}
.theme_image__1 img{
  width: 100%;
  border-radius: var(--second-raduis);
  cursor: pointer;
}
.theme_image__1 h1{
  color: var(--primary-color);
  font-size: 2.2rem;
  font-family: var(--secondary-font);
}
.theme_image__1 h3{
  color: var(--static-color);
  font-style: italic;
}
.theme_image__1{
  width: 25%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  padding: 1rem;
}

.section2{
  width: 100vw;
  height: 90vh;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: red; */
}
.section2__txt{
  flex: 1;
  font-size: 3rem;
  color: var(--primary-color);
  /* background-color: blue; */
}
.section2__video{
  flex: 2;
  display: flex;
  justify-content: center;
  /* background-color: pink; */
}
.section2__video img{
  width: 85%;
  height: 100%;
}

.section3{
  width: 100vw;
  height: 70vh;
  margin-top: 10rem;
  padding-left: 4rem;
}
.section3__theme{
  width: 100%;
  height: 100%;
  display: flex;
}
.section3__theme__img{
  flex: 1px;
}
.section3__theme__text{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
  padding-right: 2rem;
}
.section3__theme__text h1{
  font-size: 4rem;
  color: var(--primary-color);
  font-family: var(--primary-font);
}
.section3__theme__text p{
  font-size: 1.8rem;
  color: var(--secondary-color);
  font-family: var(--primary-font);
}
.figure{
  width: 40%;
  display: flex;
  justify-content: space-between;
  height: auto;
  cursor: pointer;
}

.section5{
  width: 100vw;
  height: 70vh;
  margin-top: 10rem;
  padding-left: 4rem;
}
.section5__theme{
  width: 100%;
  height: 100%;
  display: flex;
  padding-right: 6rem;
}
.section5__theme__img{
  flex: 1px;
}
.section5__theme__text{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
  padding-right: 2rem;
}
.section5__theme__text h1{
  font-size: 4rem;
  color: var(--primary-color);
  font-family: var(--primary-font);
}
.section5__theme__text p{
  font-size: 1.8rem;
  color: var(--secondary-color);
  font-family: var(--primary-font);
}
.figure{
  width: 40%;
  display: flex;
  justify-content: space-between;
  height: auto;
  cursor: pointer;
} 

.pub{
  width: 100vw;
  height: 60vh;
  display: flex;
  margin-top: 8rem;
}
hr{
  width: .5vw;
  height: 4rem;
  border-width: 0;
  background-color: var(--primary-color);

}
.pub__titre{
  flex: 1;
  display: flex;
  writing-mode: vertical-rl;
  justify-content: space-evenly;
  align-items: center;
}
span{
  font-size: 3.5rem;
  transform: rotate(180deg);
  color: var(--primary-color);
}

.pub__banniere{
  flex: 10;
  background-image: url(bannier.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer{
  width: 100vw;
  height: 50vh;
  background-color: var(--static-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer__logo img{
  width: 30rem;
  height: 15rem;
}
.footer__img img{
  border-radius: var(--second-raduis);
}
.footer__img{
  width: 20%;
  display: flex;
  justify-content: space-between;
}